.date {
  margin: 12px;
  align-self: center;
  padding: 8px 12px;
  width: 86px;
  height: 32px;

  background: rgba(64, 126, 201, 0.08);
  border-radius: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #201f1e;
}
