.header {
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;

  h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: #201f1e;
    margin: 0px 8px;
  }
  svg {
    margin-left: 18px;
  }
}
